In [1]:
#importing libraries
import pandas as pd
import numpy as np

In [3]:
dataset=pd.read_csv("C:/Users/saket/Downloads/Cities.csv")
dataset.head()

,Unnamed: 0,city_name,Overview,Destination_type,Attraction
0,0,1. Delhi City,"At a distance of 1,474 km from Mumbai, 1,462 k...",Historical & Heritage,Delhi City Attractions
1,1,2. Agra,"At a distance of 214 km from Delhi, 242 km fro...",City,Agra Attractions
2,2,3. Panjim,Goa is India's smallest state by area and the ...,City,Panjim Attractions
3,3,4. Varanasi,"At a distance of 125 km from Allahabad, 163 km...",Pilgrimage,Varanasi Attractions
4,4,5. Shimla,"Often called the 'Queen of Hills', Shimla is a...",Hill Station,Shimla Attractions

In [4]:
# dataset=dataset['city_name','Overview','Destination_type','Attr']
dataset=dataset[dataset.columns[1:]]
dataset.head()
# df.head()

,city_name,Overview,Destination_type,Attraction
0,1. Delhi City,"At a distance of 1,474 km from Mumbai, 1,462 k...",Historical & Heritage,Delhi City Attractions
1,2. Agra,"At a distance of 214 km from Delhi, 242 km fro...",City,Agra Attractions
2,3. Panjim,Goa is India's smallest state by area and the ...,City,Panjim Attractions
3,4. Varanasi,"At a distance of 125 km from Allahabad, 163 km...",Pilgrimage,Varanasi Attractions
4,5. Shimla,"Often called the 'Queen of Hills', Shimla is a...",Hill Station,Shimla Attractions

In [5]:
df=dataset[['city_name','Destination_type']]
df.head()

       city_name       Destination_type
0  1. Delhi City  Historical & Heritage
1        2. Agra                   City
2      3. Panjim                   City
3    4. Varanasi             Pilgrimage
4      5. Shimla           Hill Station

In [6]:
# df.groupby(['Destination_type'])
df.nunique()

city_name           100
Destination_type     10
dtype: int64

In [7]:
df['Destination_type'].unique()

array(['Historical & Heritage', 'City', 'Pilgrimage', 'Hill Station',
       'Beach', 'Lake & Backwater', 'Wildlife', 'Waterfall',
       'Nature & Scenic', 'Adventure / Trekking'], dtype=object)

In [8]:
arr=['Hill Station',
       'Beach', 'Lake & Backwater', 'Waterfall',
       'Nature & Scenic', 'Adventure / Trekking']

In [9]:
arr1=['Historical & Heritage', 'City', 'Pilgrimage']

In [10]:
sum=0
for i in range(len(arr)):
    val=len(df[df['Destination_type']==arr[i]])
    print(arr[i],": ",val)
    sum+=val
print("Total places: ",sum)

Hill Station :  23
Beach :  7
Lake & Backwater :  2
Waterfall :  3
Nature & Scenic :  1
Adventure / Trekking :  1
Total places:  37

In [11]:
sum=0
for i in range(len(arr1)):
    val=len(df[df['Destination_type']==arr1[i]])
    print(arr1[i],": ",val)
    sum+=val
print("Total places: ",sum)

Historical & Heritage :  29
City :  6
Pilgrimage :  20
Total places:  55

In [12]:
places=pd.DataFrame()
for i in range(len(arr)):
    places = places.append(dataset[dataset['Destination_type']==arr[i]])
    # print("\n")
places.head()

C:\Users\saket\AppData\Local\Temp\ipykernel_9360\3009702550.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  places = places.append(dataset[dataset['Destination_type']==arr[i]])
C:\Users\saket\AppData\Local\Temp\ipykernel_9360\3009702550.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  places = places.append(dataset[dataset['Destination_type']==arr[i]])
C:\Users\saket\AppData\Local\Temp\ipykernel_9360\3009702550.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  places = places.append(dataset[dataset['Destination_type']==arr[i]])
C:\Users\saket\AppData\Local\Temp\ipykernel_9360\3009702550.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  places = places.append(dataset[dataset['Destination_type']==arr[i]])
C:\Users\saket\AppData\Local\Temp\ipykernel_9360\3009702550.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  places = places.append(dataset[dataset['Destination_type']==arr[i]])
C:\Users\saket\AppData\Local\Temp\ipykernel_9360\3009702550.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  places = places.append(dataset[dataset['Destination_type']==arr[i]])

,city_name,Overview,Destination_type,Attraction
4,5. Shimla,"Often called the 'Queen of Hills', Shimla is a...",Hill Station,Shimla Attractions
6,7. Ooty,"Often referred to as Queen of hill stations, O...",Hill Station,Ooty Attractions
10,11. Munnar,Situated at an altitude ranging from 5000 to 8...,Hill Station,Munnar Attractions
12,13. Manali,Manali is a breathtakingly beautiful hill stat...,Hill Station,Manali Attractions
16,17. Nainital,"Situated at the Kumaon foothills of Himalayas,...",Hill Station,Nainital Attractions

In [13]:
# Heritage
otherPlaces=pd.DataFrame()
for i in range(1,len(arr1)):
    otherPlaces = otherPlaces.append(dataset[dataset['Destination_type']==arr1[i]])
    # print("\n")
places=places.append(otherPlaces)
places

C:\Users\saket\AppData\Local\Temp\ipykernel_9360\1605042080.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  otherPlaces = otherPlaces.append(dataset[dataset['Destination_type']==arr1[i]])
C:\Users\saket\AppData\Local\Temp\ipykernel_9360\1605042080.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  otherPlaces = otherPlaces.append(dataset[dataset['Destination_type']==arr1[i]])
C:\Users\saket\AppData\Local\Temp\ipykernel_9360\1605042080.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  places=places.append(otherPlaces)

,city_name,Overview,Destination_type,Attraction
4,5. Shimla,"Often called the 'Queen of Hills', Shimla is a...",Hill Station,Shimla Attractions
6,7. Ooty,"Often referred to as Queen of hill stations, O...",Hill Station,Ooty Attractions
10,11. Munnar,Situated at an altitude ranging from 5000 to 8...,Hill Station,Munnar Attractions
12,13. Manali,Manali is a breathtakingly beautiful hill stat...,Hill Station,Manali Attractions
16,17. Nainital,"Situated at the Kumaon foothills of Himalayas,...",Hill Station,Nainital Attractions
...,...,...,...,...
89,90. Vrindavan,"At a distance of 13 km from Mathura, 70 km fro...",Pilgrimage,Vrindavan Attractions
92,93. Murudeshwar,Murudeshwar is one of the most famous places t...,Pilgrimage,Murudeshwar Attractions
94,95. Udupi,Udupi is one of the most famous pilgrimage sit...,Pilgrimage,Udupi Attractions
95,96. Nashik,Nashik or Nasik is the third-largest city by p...,Pilgrimage,Nashik Attractions
99,100. Kumbakonam,Kumbakonam is an ancient temple town located a...,Pilgrimage,Kumbakonam Attractions

In [14]:
places=places.append(dataset[dataset['Destination_type']=="Historical & Heritage"])

C:\Users\saket\AppData\Local\Temp\ipykernel_9360\2121111525.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  places=places.append(dataset[dataset['Destination_type']=="Historical & Heritage"])

In [15]:
len(places)

92

In [16]:
places.rename(columns = {'city_name':'name','Attraction':"description","Overview":"summary","Destination_type":"type"}, inplace = True)

In [17]:
places.to_csv("Tourist Attraction places")

In [18]:
len(places)

92

In [20]:
dataset[['city_name']]

          city_name
0     1. Delhi City
1           2. Agra
2         3. Panjim
3       4. Varanasi
4         5. Shimla
..              ...
95       96. Nashik
96      97. Gwalior
97  98. Chittorgarh
98      99. Lachung
99  100. Kumbakonam

[100 rows x 1 columns]

### Reading json file

In [2]:
df_json=pd.read_json('data.json')

In [4]:
excel=df_json.to_excel('store.xlsx')

In [5]:
df2=pd.read_json('data.json')

In [19]:

import glob
import pandas as pd

path = "C:/Users/saket/Desktop/xwebsite/client/importdata"
file_list = glob.glob(path + "/*.xlsx")
excl_list = []
print(file_list)
for file in file_list:
	excl_list.append(pd.read_excel(file))

print(excl_list)
excl_merged = pd.DataFrame()

for excl_file in excl_list:
	excl_merged = excl_merged.append(excl_file, ignore_index=True)

excl_merged.to_excel('final1.xlsx', index=False)

['C:/Users/saket/Desktop/xwebsite/client/importdata\\store.xlsx', 'C:/Users/saket/Desktop/xwebsite/client/importdata\\store1.xlsx']
[   Unnamed: 0     Shimla       Ooty     Munnar  Hyderabad     mysore  \
0           0  31.104153  11.412677  10.086996  17.360589  12.305183
1           1  77.170973  76.703050  77.060091  78.474061  76.655361

   mahabalipuram  kedarnath  Mahabaleshwar  Mussoorie  ...  Rann Of Kutch  \
0      12.619598  30.734561      17.893641  30.456901  ...      23.790559
1      80.193650  79.067320      73.613169  78.078291  ...      70.496816

   Tiruchirappalli    Alibaug    Ajmer    Bikaner  Chidambaram  \
0        10.804973  18.662728  26.4691  28.015929    11.410181
1        78.687030  72.878768  74.6390  73.317137    79.672220

   Shravanabelagola       Pune    Gwalior  Chittorgarh
0         12.858127  18.521428  26.203725    24.717797
1         76.487011  73.854454  78.157363    74.472103

[2 rows x 96 columns],    Unnamed: 0     Shimla       Ooty     Munnar  Hyderabad     mysore  \
0           0  31.104153  11.412677  10.086996  17.360589  12.305183
1           1  77.170973  76.703050  77.060091  78.474061  76.655361

   mahabalipuram  kedarnath  Mahabaleshwar  Mussoorie  ...  Rann Of Kutch  \
0      12.619598  30.734561      17.893641  30.456901  ...      23.790559
1      80.193650  79.067320      73.613169  78.078291  ...      70.496816

   Tiruchirappalli    Alibaug    Ajmer    Bikaner  Chidambaram  \
0        10.804973  18.662728  26.4691  28.015929    11.410181
1        78.687030  72.878768  74.6390  73.317137    79.672220

   Shravanabelagola       Pune    Gwalior  Chittorgarh
0         12.858127  18.521428  26.203725    24.717797
1         76.487011  73.854454  78.157363    74.472103

[2 rows x 96 columns]]

C:\Users\saket\AppData\Local\Temp\ipykernel_19104\898854180.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  excl_merged = excl_merged.append(excl_file, ignore_index=True)